<h2>Available Rooms</h2>
<div>
    {{#each rooms}}
    <h1>{{this.name}}</h1>
    <p>Description: {{this.description}}</p>
    <a href="/rooms/{{this._id}}/edit" class="btn btn-primary">Edit</a>
    <form action="/rooms/{{this._id}}/delete" method="post">
      <button class="btn btn-danger" type="submit">Delete room</button>
    </form>
    {{/each}}
</div>
<a href="/rooms/room-create" class="btn btn-dark">Create Room</a>

<!--
<div class="container">
  <h1>Rooms</h1>
  {{#each rooms}}
    <div class="room-row">
      <a href="/rooms/{{this._id}}">{{this.name}}</a>
      <div class="action-links">
        {{#if ../isLoggedIn}}
          <a href="/rooms/{{this._id}}/edit" class="btn btn-dark">Edit</a>
        {{/if}}
        <form action="/rooms/{{this._id}}/delete" method="post">
          <button type="submit" class="btn btn-warning">Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
   <a href="/rooms/room-create" class="btn btn-dark">Create Room</a>
</div>
-->